extends baseEmail

block content
    p Hi #{firstName},
    p Submit a PATCH request with your new password and the password confirmation to: #{url}.
    p (Website for this action not yet implemented)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p If you didn't ask, for this action, then you may want to change your credentials as soon as possible.